/* defult customize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Host Grotesk", sans-serif;
}

/* reuseable */
/* 1 container */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

/* navber */
nav {
  background: #ffff;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
  height: 100%;
}

nav .nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
  margin-left: 100px;
}

nav .nav-links a {
  text-decoration: none;
  color: #575757;
  font-size: 1rem;
}

nav .navber-btn {
  font-weight: 600;
  font-size: 1rem;
  background: #e8ba2e;
  color: #000102;
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  margin-left: 400px;
}

/* hero/banner section */
#hero-section {
  background-image: url(../assets/./Hero-Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero-container {
  max-width: 450px;
  padding: 20px;
  position: relative;
  top: 250px;
  left: 60px;
}

.hero-container h1 {
  font-weight: 800;
  font-size: 4rem;
  color: white;
  letter-spacing: 4%;
}

.hero-container p {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0%;
  color: #ffff;
}

.hero-btn {
  font-weight: 600;
  font-size: 16px;
  background: #e8ba2e;
  color: #1c1c1c;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  border: none;
  margin-top: 35px;
  font-weight: 600;
}

/* review section */
#review-section {
  width: 100%;
  background: #f4c430;
  margin: 20px auto 0px auto;
}

.review-container {
  color: #000102;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.review-content {
  color: #000102;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.review-container p {
  color: #6b5716;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: -0.3%;
  line-height: 150%;
  /* margin-bottom: 20px; */
}

.review-container h1 {
  font-weight: 700;
  font-size: 4.5rem;
}

/*     <!-- explore section --> */
.explore-section {
  margin-top: 90px;
}

.explore-heading {
  text-align: center;
  color: #000102;
  font-size: 1.8rem;
  font-weight: 600;
}

.images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  color: #000102;
  border: none;
}

.image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.image-container h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

.image-container p {
  color: #575757;
  font-weight: 400;
  font-size: 1rem;
}

.image-container ul li {
  color: #575757;
  margin-left: 20px;
}

.explore-btn-div {
  text-align: center;
  margin-top: 50px;
}
.explore-btn {
  font-weight: 600;
  font-size: 1rem;
  background: #f4c430;
  color: #1c1c1c;
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 12px;
  text-align: center;
}

/* table-section */
.table-section-container {
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  margin-top: 100px;
}

.table-content p {
  margin-bottom: 20px;
}

.table-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-heading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table-heading p {
  color: #505f76;
}

table {
  border-collapse: collapse;
}

table th,
td {
  padding: 15px 60px;
  border: 1px solid #000000;
}

table th {
  background: #a73131;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

table tr .first-column {
  color: #ba1a1a;
  font-weight: 400;
}

table tr .second-column {
  color: #111c2d;
}

table tr .third-column {
  color: #505f76;
}

table tr .opening-data {
  color: #f60000;
}

table tr .final-data {
  color: #bda004;
}

/* footer */
footer {
  background: #000102;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.footer-container {
  padding: 50px 10px;
}

.top-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-links img {
  width: 40px;
  height: 40px;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.bottom-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #99999a;
}

.divider-line {
  border: 1px solid #99999a46;
}

.bottom-div .first-ul {
  gap: 30px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-div .second-ul {
  gap: 30px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
